@charset "utf-8";
@import "components/searchBox";

body {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/birdEye.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    backdrop-filter: blur(15px);
}

#github_icon{
    transition: all .3s ease!important;
    &:hover{
        color: #d8d8d8!important;
    }
}
