@charset "utf-8";
@import 'components/searchBox';
@import 'components/header';
@import 'components/highlight';
@import 'components/scrollbar';

body {
  width: 100vw;
  height: 100vh;
  background-image: url('../img/birdEye.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  backdrop-filter: blur(15px);
}

#github_icon {
  transition: all 0.3s ease !important;
  &:hover {
    color: #d8d8d8 !important;
  }
}
#view_btn {
  opacity: 0;
  transition: all 0.3s ease;
}

#main_left {
  &:hover {
    #view_btn {
      transform: translate(0px, -35px) !important;
      opacity: 1;
    }
  }
}
#name {
  margin-top: -20px;
}

#project_list {
  height: 400px;
  border: 2px dotted #31363b;
  overflow-y: scroll;
  list-style: none;
  > a {
    background-color: #31363b;
    border: 2px dotted transparent;
    transition: all .3s ease;
    &:hover {
      border: 2px dotted #e4a0a1;
    }
  }
}

